#divContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100dvh;
    background-color: black;
}

header {
    background-color: gray;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1000px) {
    main{
        grid-template-columns: repeat(3, 1fr)
    }
}

@media screen and (max-width: 735px) {
    main{
        grid-template-columns: repeat(2, 1fr)
    }
}

main>div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;

    img {
        max-height: 300px;
        border-radius: 10px;
        cursor: pointer;
    }

    img:hover {
        transform: scale(1.02);
    }
}

footer {
    background-color: gray;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}